---
import { getCollection } from "astro:content";
import PageLayout from "@layouts/PageLayout.astro";
import TopLayout from "@layouts/TopLayout.astro";
import BottomLayout from "@layouts/BottomLayout.astro";
import Projects from "@components/Projects";
import { BANER } from "@consts";
---

<PageLayout title={BANER.TITLE} description={BANER.DESCRIPTION}>
  <TopLayout>
    <div class="animate page-heading">
      {BANER.TITLE}
    </div>
  </TopLayout>
  <BottomLayout>
    <div class="animate">
      <p>水protocol.comはリンクフリーです。</p>
      <p>
        ホームページ(https://水protocol.com)へのバナーは下のをお使いください。m(__)m
      </p>

      <div class="mt-5">
        <a href="" target="_blank" rel="noopener noreferrer">
          <img src="/images/mebaner.png" style="width: 70%;" />
        </a>
      </div>

      <div class="mt-12">
        <a href="https://www.ヲルタナスタジオ.com/" target="_blank" rel="noopener noreferrer">
          <img src="/images/alternastudio.png" style="width: 70%;" />
        </a>
      </div>

      <div class="mt-5">
        <a href="https://alternadenki.vercel.app/" target="_blank" rel="noopener noreferrer">
          <img src="/images/alternaelectron.png" style="width: 70%;" />
        </a>
      </div>
    </div>
  </BottomLayout>
</PageLayout>
